<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Functional Testing" parallel="none">

	<test name="Flight Search Automation-chromeTest">
		<parameter name="browser" value="chrome" />

		<classes>

			<class name="TestScenarios.FlightSearch" />

		</classes>

	</test> <!-- Test -->

	<test name="Flight Search Automation-edgeTest">

		<parameter name="browser" value="edge" />

		<classes>

			<class name="TestScenarios.FlightSearch" />

		</classes>

	</test> <!-- Test -->

</suite> <!-- Suite -->
